@tailwind base;
@tailwind components;
@tailwind utilities;
/* Table pagination: active page highlight */
.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}

/* Table pagination: for dark mode*/
.mary-table-pagination span[aria-disabled="true"] span {
    @apply bg-inherit
}

/* Table pagination: for dark mode */
.mary-table-pagination button {
    @apply bg-base-100
}

/* media */

@media (min-width: 864px) {
    .profile {
        flex-direction: row;
    }
 }

.ts-control {
    background: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity))) !important;
    border: none !important;
}

.ts-control input {
    background-color: (--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity)));
    color: white !important;
}

.ts-wrapper {
    background-color: (--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity)));
}

.button-purple {
    background-color: var(--p);
}

.ts-dropdown {
    background-color: #1d232a !important;
    color: white !important;
}

.swal2-container {
  z-index: 9999 !important;
}

#category_modal {
  z-index: 100 !important;
}